.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	max-width: $mw;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1) {
		max-width: 970px;
	}

	@media (max-width: $md2) {
		max-width: 750px;
	}

	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}
