@import '../../styles/scss-base/variables';

.header {
	position: relative;
	width: 100%;
	z-index: 50;
	background-color: #f5f6fa;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}

	&__logo {
		position: absolute;
		top: 18px;
	}
}
